<div >
    <div class="row"*ngIf="id == selectproduct.prodID" >
    <div class="col-sm-6">
        <div class="product-images">
            <div class="product-main-img">
                <img [src]="selectproduct.img" alt="{{ selectproduct.img}}">
            </div>

            <div class="product-gallery">
                <img [src]="selectproduct.thumbs.thumb1" alt="{{ selectproduct.thumbs.thumb1 }}">
                <img [src]="selectproduct.thumbs.thumb2" alt="{{ selectproduct.thumbs.thumb2 }}">
                <img [src]="selectproduct.thumbs.thumb3" alt="{{ selectproduct.thumbs.thumb3 }}">

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="product-inner">
            <h2 class="product-name">{{ selectproduct.name }}</h2>
            <div class="product-inner-price">
                <ins>{{ selectproduct.productprice }}</ins> <del>{{ selectproduct.compareprice }}</del>
            </div>

            <form  class="cart" [formGroup]="detailData" (ngSubmit)="onSubmit()">
                <div  formGroupName="detailData" class="quantity">
                    <input
                     type="number"
                      size="5" 
                      class="input-text qty text" 
                      title="Qty" 
                      value="1"
                      formControlName = "qty"
                       min="1" step="1">
                </div>
               <button class="add_to_cart_button" type="submit">Add to cart</button>
            </form>

            <div class="product-inner-category">
                <p>Category: <a>{{ selectproduct.Category }}</a>. Tags: <a  *ngFor="let tag of selectproduct.Tags">{{tag}} ,</a> </p>
            </div>

            <div role="tabpanel">
                <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active">           
                        <a id="ex3-tab-1" aria-controls="home" aria-selected="true" role="tab" data-toggle="tab">Description</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="profile" role="tab" data-toggle="tab">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home"
                        aria-labelledby="ex3-tab-1">
                        <h2>Product Description</h2>
                        <p>{{ selectproduct.description }}</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <h2>Reviews</h2>
                        <div class="submit-review">
                            <p><label for="name">Name</label> <input name="name" type="text"></p>
                            <p><label for="email">Email</label> <input name="email" type="email">
                            </p>
                            <div class="rating-chooser">
                                <p>Your rating</p>
                                <div class="rating-wrap-post">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p><label for="review">Your review</label> <textarea name="review" id=""
                                    cols="30" rows="10"></textarea></p>
                            <p><input type="submit" value="Submit"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>