
    <div class="row"*ngIf="id == selectproduct.prodID" >
    <div class="col-sm-6">
        <div class="product-images">
            <div class="product-main-img">
                <img *ngIf="!selectedImage" [src]="selectproduct.img" alt="{{ selectproduct.img}}">
                <img *ngIf="selectedImage" [src]="mainImage" alt="{{ mainImage}}" height="250px" width="250px">
            </div>

            <div class="product-gallery">
                <img [src]="selectproduct.thumbs.thumb1" (click)="changeMainImg(selectproduct.thumbs.thumb1)">
                <img [src]="selectproduct.thumbs.thumb2" (click)="changeMainImg(selectproduct.thumbs.thumb2)">
                <img [src]="selectproduct.thumbs.thumb3" (click)="changeMainImg(selectproduct.thumbs.thumb3)">
            
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="product-inner">
            <h2 class="product-name">{{ selectproduct.name }}</h2>
            <div class="product-inner-price">
                <ins>${{ selectproduct.ins }}</ins> <del>${{ selectproduct.del }}</del>
            </div>

            <form  class="cart" [formGroup]="detailData" (ngSubmit)="onSubmit()">
                <div  formGroupName="detailData" class="quantity">
                    <input 
                     type="number"
                      size="5" 
                      class="input-text qty text"
                      formControlName = "qty" 
                      title="Qty" 
                       min="1" step="1">
                </div>
               <button class="add_to_cart_button" type="submit">Add to cart</button>
            </form>

            <div class="product-inner-category">
                <p>Category: <a>{{ selectproduct.Category }}</a>. Tags: <a  *ngFor="let tag of selectproduct.Tags">{{tag}} ,</a> </p>
            </div>
           <div>
            <p>{{ selectproduct.description }}</p>
           </div>
        </div>
    </div>
</div>
