
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <!-- <li>
                                <a href="#"><i class="fa fa-user"></i> My Account</a>
                            </li> -->
                            <li class="dropdown dropdown-small" *ngIf="isAuthenticated">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><i><img src="https://static.remove.bg/remove-bg-web/5c20d2ecc9ddb1b6c85540a333ec65e2c616dbbd/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png" height="30px" width="30px" class="rounded" alt="Cinque Terre"></i>Profile</a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/orders">Orders</a></li>
                                </ul>
                            </li>
                            <li *ngIf="isAuthenticated"><a  routerLink="/wishlist"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li *ngIf="isAuthenticated"><a  routerLink="/mycart"><i class="fa fa-user"></i> My Cart</a></li>
                            <li *ngIf="isAuthenticated"><a routerLink="/checkout"><i class="fa fa-user"></i> Checkout</a></li>
                            <li *ngIf="!isAuthenticated"><a routerLink="/login"><i class="fa fa-user"></i> Login</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="header-right user-menu">
                        <ul class="list-unstyled list-inline">
                            <li *ngIf="isAuthenticated">
                                <a style="cursor: pointer;" (click)="onLogout()"><i class="fa fa-user"></i>Logout</a>
                            </li>
                            <li class="dropdown dropdown">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>