<div class="site-branding-area">
    <div class="container">
        <div class="row" *ngIf="isAuthenticated">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a  routerLink=""><img src="assets/img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6"  >

                <div class="shopping-item" >
                    <a routerLink="/cart">Cart - <span class="cart-amunt">${{ totalAmount }}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{totalItemNumber}}</span></a>
                </div>
            </div>
        </div>
        <!-- <div class="row" *ngIf="isAuthenticated">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a  routerLink=""><img src="assets/img/logo.png"></a></h1>
                </div>
            </div>
            

             <div class="col-sm-6" *ngIf="isAuthenticated" >

            <div class="col-sm-6"  >

                <div class="shopping-item" >
                    <a routerLink="/cart">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">2</span></a>
                </div>

            </div> 
            <div class="col-sm-6" *ngIf="!isAuthenticated" >

            </div>
        </div> -->
        <div class="row" *ngIf="!isAuthenticated">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a  routerLink=""><img src="assets/img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6"  >

                <div class="shopping-item" >
                    <a routerLink="/login">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{totalItemNumber}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>