<div class="container main-secction">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg">
        </div>
        <div class="row user-left-part">
            <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                <div class="row ">
                    <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                        <img src="https://static.remove.bg/remove-bg-web/5c20d2ecc9ddb1b6c85540a333ec65e2c616dbbd/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png" class="rounded-circle">
                    </div>
                    <div class="row user-detail-row">
                        <div class="col-md-12 col-sm-12 profile-header-section1 pull-left">
                            <h3>Admin</h3>
                            <h5>Mahak Ghumhare</h5>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>ID</label>
                                </div>
                                <div class="col-md-6">
                                    <p>509230671</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Mahak</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>mahak@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6655532345</p>
                                </div>
                            </div>
                           
                        </div>                           
                    </div>
                   
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                <div class="row profile-right-section-row">
                    <div class="col-md-12 profile-header">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                <h1>Admin</h1>
                                <h5>Shivani Thakur</h5>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>ID</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>509230671</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Shivani Thakur</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>shivani@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>9340826770</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Profesion</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                               <h1>Admin</h1>
                               <h5>Prajakta Akolkar</h5>
                               <div class="row">
                                <div class="col-md-2">
                                    <label>ID</label>
                                </div>
                                <div class="col-md-6">
                                    <p>509230671</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Prajakta Akolkar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>prajakta@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>8989676743</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

