<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
   <div class="product-carousel" *ngFor="let product of allproduct">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                 <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.productImage" alt="{{ product.productImage }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details/{{ product.productId }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2><a routerLink="/product_details">{{ product.productName }}</a></h2>
        
                                    <div class="product-carousel-price">
                                        <ins>{{ product.productprice }}</ins>
                                    </div>                            
                                </div> 
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.productImage" alt="{{ product.productImage }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart"  class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2>{{ product.productName }}</h2>
        
                                    <div class="product-carousel-price">
                                        <ins>{{ product.productprice }}</ins> <del>{{ product. compareprice }}</del>
                                    </div>                                 
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.productImage" alt="{{ product.productImage }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart"  class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2>{{ product.productName }}</h2>
                                    <div class="product-carousel-price">
                                        <ins>{{ product.productprice }}</ins> <del>{{ product. compareprice }}</del>
                                    </div> 
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.productImage" alt="{{ product.productImage }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart"  class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2><a routerLink="/product_details">{{ product.productName }}</a></h2>
        
                                    <div class="product-carousel-price">
                                        <ins>{{ product.productprice }}</ins>
                                    </div>                            
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.productImage" alt="{{ product.productImage }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart"  class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2>{{ product.productName }}</h2>
        
                                    <div class="product-carousel-price">
                                        <ins>{{ product.productprice }}</ins> <del>{{ product. compareprice }}</del>
                                    </div>                                 
                                </div>
                            </ng-template>
                          </owl-carousel-o>
                    </div>
                </div>
<!-- 
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> -->
    </div>
</div>